
@{
    ViewBag.Title = "Promjena pasworda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<label>Adminsitrator: @Server.HtmlEncode(Request.Cookies["userInfo"]["userName"])</label> <br />
<label>Last visit: @Server.HtmlEncode(Request.Cookies["userInfo"]["lastVisit"])</label>
<form action="/Administrator/PasswordUpdate">
    <div class="form-group">
        <label>Nova lozinka:</label>
        <input class="form-control" type="password" name="Password" placeholder="Nova lozinka..." required />
    </div>
    <input type="hidden" name="id" value=@Server.HtmlEncode(Request.Cookies["userInfo"]["id"]) />

    <input class="btn btn-success" type="submit" value="Sačuvati" />
</form>